---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?page=1&per_page=1&query=cleveland
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXEL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19971'
      X-Ratelimit-Reset:
      - '1589850560'
    body:
      encoding: ASCII-8BIT
      string: '{"total_results":0,"page":1,"per_page":1,"photos":[]}'
  recorded_at: Mon, 27 Apr 2020 21:37:22 GMT
recorded_with: VCR 5.1.0
