---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Hong%20Kong&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Hong Kong
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Hong Kong",
                       "short_name" : "HK",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Hong Kong",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 22.5619469,
                          "lng" : 114.4294999
                       },
                       "southwest" : {
                          "lat" : 22.1435,
                          "lng" : 113.8259001
                       }
                    },
                    "location" : {
                       "lat" : 22.3193039,
                       "lng" : 114.1693611
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 22.5619469,
                          "lng" : 114.4294999
                       },
                       "southwest" : {
                          "lat" : 22.1435,
                          "lng" : 113.8259001
                       }
                    }
                 },
                 "place_id" : "ChIJD5gyo-3iAzQRfMnq27qzivA",
                 "types" : [ "country", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 20 Apr 2020 17:53:56 GMT
- request:
    method: get
    uri: https://amypode.herokuapp.com/api/v1/antipodes?lat=22.3193039&long=114.1693611
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - oscar_the_grouch
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44fbfaaa09d0c593056cbd5360c77c9c"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"antipode","attributes":{"lat":-22.3193039,"long":-65.8306389}}}'
  recorded_at: Mon, 20 Apr 2020 17:53:57 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_API_KEY>&latlng=-22.3193039,-65.8306389
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "M5J9+7P Cerrillos, Jujuy, Argentina",
              "global_code" : "579PM5J9+7P"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Ruta Provincial 69",
                       "short_name" : "RP69",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Yavi",
                       "short_name" : "Yavi",
                       "types" : [ "administrative_area_level_2", "political" ]
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_KEY>&lat=-22.3193039&lon=-65.8306389&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":-22.32,"lon":-65.83,"timezone":"America/Argentina/Jujuy","current":{"dt":1587405078,"sunrise":1587379069,"sunset":1587420361,"temp":55.26,"feels_like":48.04,"pressure":1018,"humidity":11,"dew_point":4.84,"uvi":10.78,"clouds":1,"wind_speed":1.74,"wind_deg":90,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1587402000,"temp":55.26,"feels_like":48.04,"pressure":1018,"humidity":11,"dew_point":4.84,"clouds":1,"wind_speed":1.74,"wind_deg":90,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},{"dt":1587405600,"temp":55.94,"feels_like":48.45,"pressure":1016,"humidity":10,"dew_point":3.47,"clouds":8,"wind_speed":2.13,"wind_deg":118,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},{"dt":1587409200,"temp":56.48,"feels_like":48.85[...]
